@import "./src/resources/styles/sass/variables";

.navbar {
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.45);

    .brand-wrapper{
        position: relative;
        top: 3rem;

        img {
            width: 200px;
            border: 2px solid rgb(27, 27, 27);
            border-radius: 5px;

            @media screen and (max-width: $screen-width-medium) {
                width: 100px;
                border: 1px solid rgb(27, 27, 27);
            }
        }

        @media screen and (max-width: $screen-width-medium) {
            position: inherit;
        }
    }

    .navbar-collapse {

        .nav-link {
            margin-left: 1.8rem;

            @media screen and (max-width: $screen-width-medium) {
                margin-left: inherit;
            }
        }
    }
}

