@import "./src/resources/styles/sass/variables";

$errorColor : rgb(244, 56, 56);
$successColor : #05dc50;

.logReg {
  margin-top: 1rem;
  margin-bottom: 1rem;

  &--container {
    transition: transform 800ms, opacity 400ms;
    position: absolute;
    left: 0;
    right: 0;
    top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: #212529;
    color: white;
    height: fit-content;
    border: black 1px solid;
    border-radius: 5px;
    padding: 1rem;
    z-index: 1;
    overflow-y: auto;

    @media screen and (max-width: $screen-width-wider) {
      width: 90%;
    }

    @media screen and (max-width: $screen-width-wider) {
      width: 90%;
    }

    @media screen and (max-width: $screen-width-wider) {
      top: 10px;
      max-height: calc(100vh - 20px);
      overflow-y: auto;
    }

    .logReg--navbar {
      width: 96.5%;

      @media screen and (max-width: $screen-width-small) {
        width: 100%;
      }

      &__firstTab {
        margin-right: 3px;
      }

      &__followingTab {
        margin-left: 3px;
      }

      .nav-link {
        margin-left: 0!important;
      }

      .nav-link.active {
        background-color: darken(skyblue, 8);
        font-weight: normal;
        color: ghostwhite !important;
      }
    }

    .logReg--closingButton {
      display: flex;
      margin: 6px 0 0 5px;
      height: fit-content;

      @media screen and (max-width: $screen-width-medium) {
        margin-left: auto;
      }

      &:hover {
        margin: 5px 0 0 4px;
        border: white 1px solid;
        border-radius: 5px;

        @media screen and (max-width: $screen-width-small) {
          margin-left: auto;
        }
      }
    }

    .form-container {
      display: flex;
      flex-direction: row;
      padding: 3rem 3rem 0 5rem;

      @media screen and (max-width: $screen-width-smaller) {
        padding: 0.3rem;
      }

      &--image-wrapper {
        margin: auto;

        @media screen and (max-width: $screen-width-medium) {
          margin-left: 2rem;
        }

        img {
          width: 300px;
          border: 2px solid rgb(27, 27, 27);
          border-radius: 10px;
        }

        @media screen and (max-width: $screen-width-small) {
          display: none;
        }
      }

      .login-form {
        width: 50%;

        @media screen and (max-width: $screen-width-small) {
          width: 100%;
        }

        a {
          color: lightgray;

          &:hover {
            color: darken(skyblue, 8);
          }
        }
      }

      .register-form {
        width: 50%;

        @media screen and (max-width: $screen-width-small) {
          width: 100%;
        }

        &--success {
          color: $successColor;
        }
      }

      .form-control, .form-submit {
        max-width: 20rem;
      }

      &--error {
        list-style: none;
        padding-left: 0%;
        color: $errorColor;
      }
    }
  }

  &--wrapper {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    width: 100vw;
    height: 100vh;
    opacity: 0.4;
    z-index: 0;
  }
}

.loggedIn-state__wrapper {
  margin: 1rem 0;

  .logout-button {
    margin-right: 1.2rem;
  }

  .profile-icon {
    padding: 0!important;

    img {
      max-width: 2.3rem;
    }
  }
}
