$field-comp-grey: rgba(133, 133, 133, 0.4);

.introText {
  background-color: $field-comp-grey;
  border-radius: 7px;
  border: 1px solid black;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;

  .h1 {
    margin-bottom: 1.5rem;
  }
}

.success {
  background-color: darkolivegreen;
}