@import "./src/resources/styles/sass/variables";

.memory {
  display: flex;
  flex-direction: column;

  &--settings {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;

    .memory-gameStart {
      background: #61dafb;
      color: #282c34;
      font-size: x-large;
      font-weight: bold;
      margin-right: 3rem;
    }

    .memory-gameStart:hover {
      background: #282c34;
      color: white;
    }

    .memory-dropdown, .memory-dropdown-menu{
      min-width: 11rem;
    }

    .memory-dropdown {
      background: #282c34;
      font-size: large;
    }
  }

  &--gameboard {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--gamescore {
    width: fit-content;
    position: fixed;
    top: 10rem;
    right: 0;
    background: $content-background;
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 2rem;
  }

  &--items {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .col{
      width: fit-content;

      .memory-card {
        padding: 0;
        width: fit-content;
        min-width: 10vw;
        min-height: 10vw;

        &__front {
          position: absolute;
          top: 0;
          left: 0;
          width: 10vw;
          height: auto;
          z-index: 1;
          border-radius: 8px;

        }

        &__back {
          position: absolute;
          top: 0;
          left: 0;
          //background: rgb(110, 110, 110);
          background-image: url("../images/memory-back.png");
          background-size: cover;
          width: 10vw;
          height: 10vw;
          z-index: 0;
          border-radius: 8px;
        }

        &__title {
          font-size: 1.5rem;
        }
      }
    }
  }
}