@import "./src/resources/styles/sass/variables";

.trivia {
  display: flex;
  flex-direction: column;

  &--intro{

    .trivia-gameStart {
      margin: 1.5rem 0 0 4rem;
      background: #61dafb;
      color: #282c34;
      font-size: x-large;
      font-weight: bold;
      margin-right: 3rem;
    }

    .trivia-gameStart:hover {
      background: #282c34;
      color: white;
    }
  }

  &--question {
    padding: 3rem 2rem 0 2rem;

    .question-answers {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 3rem 0 0 0;

      .question-answerField {
        width: 100%;
        height: 5rem;
        font-size: x-large;
        font-weight: bolder;

        @media screen and (max-width: $screen-width-wider) {
          font-size: large;
        }

        @media screen and (max-width: $screen-width-medium) {
          font-weight: unset;
        }

        @media screen and (max-width: $screen-width-smaller) {
          font-weight: bolder;
        }
      }
    }
  }
}