$screen-width-wider: 1350px;
$screen-width-medium: 1200px;
$screen-width-smaller: 800px;
$screen-width-small: 650px;

$image-path: "../../images/";

$content-background: rgba(40, 44, 52, 0.7);
$border: 2px double rgba(0,0,0,0.8);
$content-shadow: inset 0px -3px 10px 0px #000000;