@import "variables";

body {
    font-size: larger;
    background-image: url($image-path + "background.jpg");
    background-size: 100vw auto;
    background-repeat: inherit;
    //background-repeat: unset;
    //background-color: rgb(48, 33, 22);
    color: white;

    .content-container {
        width: 75%;
        margin-right: auto;
        margin-left: auto;
        padding: 3rem 2rem;
        background-color: rgba(40, 44, 52, 0.96);
        -webkit-box-shadow: $content-shadow;
        box-shadow: $content-shadow;
        border-right: $border;
        border-left: $border;
        border-bottom: $border;
        border-radius: 0px 0px 7px 7px;

        .flex-start {
            align-self: flex-start;
        }

        .champCard {
            cursor: pointer;
            color: inherit;
            border: black 2px solid;
            border-radius: 10px;
        }

        .champCard:hover {
            border: white 2px solid;
        }
    }
}