@import "src/resources/styles/sass/variables";

.profile {
  padding: 2% 4%;

  &--header {
    margin-bottom: 1.5rem;

    &__text {
      font-size: xxx-large;
    }
  }

  &--content {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: $screen-width-smaller) {
      flex-direction: column;
    }

    &__image {
      border-right: black 1px solid;

      @media screen and (max-width: $screen-width-smaller) {
        border: none;
        margin-bottom: 2rem;
      }

      .upload__image-wrapper {

        .upload-button {
          margin: 0.5rem 0;
        }

        .image-item {

          &__preview {
            width: 100%;
          }

          &__btn-wrapper {
            margin-top: 0.5rem;

            .btn-wrapper-button {
              margin-right: 0.5rem;
            }
          }
        }
      }
    }

    &__data {
      border-left: black 1px solid;

      @media screen and (max-width: $screen-width-smaller) {
        border: none;
        margin-bottom: 2rem;
      }

      .profile-data {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2.5rem;
      }

      .profile-highscoreDisplay {
        border: $border;
        border-radius: 8px;
        padding: 1.5rem 1.5rem 0 1.5rem;

        .profile-data {
          justify-content: space-between;
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}