.home {
  padding: 0 0 5rem 0;

  .championList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;

    .listChamp {
      cursor: pointer;
      text-decoration: none;
      color: white;
    }
  }

  &--items {
    width: 60%;
    height: 100%;
    position: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}